.vscode/
!.vscode/c_cpp_properties.json
build/
screenshots/
libnx/
switch/
*.elf
*.nacp
*.nro
*.zip
*.bin
*.nsp
*.psd
*.bak
resources/i18n/zh-Hans
resources/i18n/zh-Hant
resources/i18n/en-GB
resources/icon
resources/material
resources/inter
resources/.gitignore
rcm/output/
rcm/build/
