[submodule "lib/borealis"]
	path = lib/borealis
	url = https://github.com/HamletDuFromage/borealis
[submodule "TegraExplorer"]
	path = TegraExplorer
	url = https://github.com/HamletDuFromage/TegraExplorer
