[submodule "lib/zipper"]
	path = lib/zipper
	url = https://github.com/HamletDuFromage/zipper
[submodule "lib/borealis"]
	path = lib/borealis
	url = https://github.com/HamletDuFromage/borealis
[submodule "aiosu-rcm"]
	path = aiosu-rcm
	url = https://github.com/HamletDuFromage/aiosu-rcm
